/* App.css */

/* Header styles */
.header {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #4a442e;
}

/* Subheader styles */
.subheader {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #4a442e;
}

/* Search bar styles */
.search-bar {
  font-size: 1rem;
  width: 60%;
  color: #4a442e;
}

/* Search button styles */
.search-button {
  background-color: #4a442e;
  border: none;
  color: #ffffff;
}

.row {
  display: flex;
  justify-content: center;
}

.image-col {
  display: flex;
  justify-content: flex-end;
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 15rem;
}

.image-row {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
}

.image-top {
  max-width: 100%;
  height: auto;
}
